/* Detail Shots */

.photo-container{
    text-align: center;
    position: relative;
}

#content-photo {
    width:100%;
    height: 100%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 50px;
    display: block;
}


#content-photo-2 {
    width:100%;
    height: 100%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 50px;
    display: inline;
}
/* Content */

.main-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 72px;
    text-align: left;
    color: #978156;
    margin-top: 260px;
    padding-left: 275px;
}

.project-type {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin-top: 20px;
    margin-bottom: 240px;
    padding-left: 275px;
    color: #979797;
}
/*

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 3em;
    padding-top: 50px;
    padding-left: 275px;
    padding-bottom: 0px;
    text-align: left;
}
*/

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    padding-top: 25px;
    text-align: left;
    padding-left: 275px;
    padding-right: 275px;
    color: #4A4A4A;
    font-size: 28px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-align: left;
    padding-top: 10px;
    padding-left: 275px;
    padding-right: 275px;
    padding-bottom: 30px;
    line-height: 30px;
    color: #4A4A4A;
}

p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-align: left;
    padding-top: 50px;
    padding-left: 175px;
    padding-right: 175px;
    padding-bottom: 50px;
    line-height: 1.5em;
    font-size: 1.25em;
}


ul { 
    font-family: 'Raleway', sans-serif;  
    font-weight: 300; 
    line-height: 1.75em;  
    font-size: 1.25em;  
    padding-left: 300px;  
    padding-right: 275px;  
    padding-bottom: 50px;  
    text-align: left; 
}  

h2 header {
    font-size: 1.5em;
    font-weight: 200;
    margin-top: 0;
}

/* Photo Options */

#detail-shot {
    height: 100%;
    top-margin: 50px;
    text-align: center;
}

.img {
    height: 100%;
    max-width: 80%;
}

.detail-shot-2 {
    height: 100%px;
    max-width: 80%;
    top-margin: 50px;
    text-align: center;
    padding-bottom: 100px;
/*    transform: translatX(50%);*/
}

.full-img img {
    max-width: 50%;
    text-align: center;
    padding-top: 25px;
    display: block;
    align-content: center;
}


/* FOOTER */


a:hover #button {
    cursor: pointer;
    color: #978156;
}

.button {
    text-align: center;
    padding-top: 25px;
    
}

.button a {
    background: transparent;
    text-align: center;
    padding: 0;
    border: 1.5px solid #978156;
    font-family: 'Raleway', sans-serif;
    color: #978156;
    text-transform: uppercase;
    width: 25%;
    height: 50px;
    font-size: 14px;
    line-height: 5px;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 30px;
    font-weight: 500;
    box-sizing: border-box;
    opacity: 1;
    text-decoration: none;
    padding: 15px;  
}

.button a:hover { 
    background: #978156;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;
}

.page-end {
    margin-top: 75px;
    height: 30px;
    width: 100%;
    background-color: #978156;
}
